# Android Studio
*.iml
.idea/*
!.idea/fileTemplates/
!.idea/codeStyles/
/captures

# Gradle
.gradle
**/local.properties
**/build

# OS
.DS_Store

# kotlin
.kotlin

# script templates with user data
/scripts/implementation/
