<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.passbolt.mobile.android.feature.accountdetails.AccountDetailsActivity"
            android:exported="false" />
    </application>
</manifest>
