<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.passbolt.mobile.android.feature.main.mainscreen.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Passbolt"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>
